<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
</div>


<div class="panel-body">
    <ul class="nav prod-cat">
        <li style="padding-top:30px">
            <a asp-controller="Category" asp-action="GetCategories">Categories</a>
        </li>
        <li style="padding-top:30px">
            <a asp-controller="Product" asp-action="GetProducts">Products</a>
        </li>
    </ul>
</div>
